body {
  background-color: #d3d3d3;
  margin-right: 5%;
  margin-left: 5%;
}

.heading {
  color: #ec5242;
}

.landing {
  background: url('./images/landing.jpg');
  padding: 10%;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 250%;
  margin: 0;
}

.menu {
  font-size: 300%;

  /* background-color: #d3d3d3; */
}

.desc {
  font-family: sans-serif;
  border: solid 2px white;
  padding: 2.5%;
}

.date {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date p {
  margin: 0;
}

.program {
  background-color: #000;
}

.program h2 {
  color: white;
}

.program-heading {
  font-family: sans-serif;
  text-align: center;
  padding-top: 5%;
}

.program-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: sans-serif;
  background-color: #272a31;
  margin: 4%;
}

.item-title {
  color: #ec5242;
}

.item-desc {
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.item-icon {
  margin-left: 5%;
  margin-right: 5%;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: red;
  color: white;
  font-family: sans-serif;
  padding: 2% 5% 2% 5%;
  font-weight: bolder;
  margin-bottom: 10%;
  margin-top: 5%;
}

.speaker-img {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin-right: 5%;
}

.speaker {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 10%;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.speaker-name {
  margin: 0;
  padding: 0;
}

.featured {
  background-color: white;
}

.speaker-desc {
  color: #ec5242;
  font-family: sans-serif;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.featured button {
  font-family: sans-serif;
  padding: 2% 5% 2% 5%;
  font-weight: bolder;
  margin-bottom: 10%;
  margin-top: 5%;
  width: 100%;
}

.contact-us {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 0;
}

.email {
  font-weight: bolder;
  text-decoration: underline;
  margin-top: 0;
}

.about-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  border: solid 1px white;
  padding: 2.5%;
  background-color: white;
  margin-top: 3%;
  margin-bottom: 3%;
}

.theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  padding: 1%;
  background-color: white;
}

.past-events {
  background-color: white;
}

.event-item {
  display: flex;
  justify-content: center;
  align-content: center;
  background: url('./images/group.jpeg');
  width: 75%;
  min-height: 220px;
  background-size: cover;
  position: relative;
  opacity: 0.95;
  margin-left: 12.5%;
  margin-bottom: 5%;
}

.event-desc {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  width: 100%;
  position: absolute;
  background-color: #ec5242;
  opacity: 0.9;
  height: 100%;
  color: white;
}

.event {
  display: flex;
  flex-direction: column;
  margin-top: 27%;
  align-items: center;
}

.line {
  height: 1px;
  background-color: #ec5242;
  width: 5%;
  border-width: 0;
}

.past-conf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 10%;
}

.partners {
  margin-top: 10%;
  background-color: #272a31;
}

.partner-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.partner {
  width: 30%;
  font-family: 'Poppins', sans-serif;
  color: #d3d3d3;
}

.partner-title {
  text-align: center;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom {
  background: url('./images/headingbackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-row {
  width: 40%;
  font-family: 'Poppins', sans-serif;
  color: #d3d3d3;
  margin-left: 12%;
  margin-right: 12%;
}
